---
- name: Remove swapfile from /etc/fstab
  mount:
    name: "{{ item }}"
    fstype: swap
    state: absent
  with_items:
    - swap
    - none

- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: Install Docker container engine
  include_tasks: install.yaml

- name: Enable kubelet service and ensure it is not masked
  systemd:
    name: kubelet
    enabled: yes
    masked: no
